.idea
.env
.env.local
schema.json
/docs/*
!/docs/architecture/
!/docs/architecture/**
/logs/*.log
framework_error.log
/coverage/
/vendor/pestphp/pest/.temp/
/vendor/pestphp/pest/.temp/test-results







